@use "sass:math";

//---Пиксели в проценты
// $pxOne - наши пиксели, которые нужно перевести в проценты
// $pxTwo - ширина родителя
@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

//---Пиксели в vw
@function vw($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100vw;
  @return $result;
}

// REM
@function rem($px) {
  $result: math.div($px, 18) + rem;
  @return $result;
}

// EM
@function em($px) {
  $result: math.div($px, 18) + em;
  @return $result;
}

//---Адаптивное свойство
@function adaptivValue($startSize, $minSize, $containerSize) {
  @return calc(#{$minSize + px} + ($startSize - $minSize) * ((100vw - 320px) / ($containerSize - 320)));
}